[submodule "_creations-ai"]
	path = _creations-ai
	url = https://github.com/radiann-kswg/100BeautiesLab_CreationsAI.git
[submodule "_creations-db"]
	path = _creations-db
	url = https://github.com/radiann-kswg/100BeautiesLab_CreationsDB.git
	branch = develop
